{% extends 'base.html' %}
{% load static %}
{% block Title %}<title>About</title>{% endblock Title %}
{% block content  %}

<div class="col-sm-10">
    <h3 class="text-dark ml-5 my-5" >About Page</h3>

</div>
<h4 class='container p2'>A professional resume should be able to serve its ultimate purpose of landing the interview. 
In short,after reviewing your resume,the hiring manager should at least be able to learn the 3 following information.
Is the candidate qualified for this job position (in terms of skills, knowledge, and experience)
What can the candidate contribute to the company (based on previous work experience and achievements)
How to contact the candidate?,Contact Information,Work Experience,Education,Skills (technical and soft).Achievements and Awards
This is to say, resume sections other than what are listed above are not essential for a resume.
However, do note that cultural differences in the job search does exist around the world.
</h4>




{% endblock content %}












Is the candidate qualified for this job position (in terms of skills, knowledge, and experience)
What can the candidate contribute to the company (based on previous work experience and achievements)
How to contact the candidate?
In order to answer the questions above, there are 5 basic components you need to put on your resume:

Contact Information
Work Experience
Education
Skills (technical and soft)
Achievements and Awards
This is to say, resume sections other than what are listed above are not essential for a resume. However, do note that cultural differences in the job search does exist around the world.