{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% block Title %}<title>Signup</title>{% endblock Title %}
{% block content  %}

<div class="container w-50 bg-dark mt-5 text-white" style="min-height:550px;min-width:600px" >
        <form method="post">
            <h1 class="text-center m-5 text-warning">Signup Form</h1>
            {% csrf_token %}
            <div class="form-group">
                {{form|crispy}}
            </div>
        <button type="submit"  class="btn btn-lg btn-info mx-auto btn-block"  style="width:200px" >Submit</button>
        </form>
    </div>

{% endblock content %}