{% extends 'base.html' %}
{% load static %}
{% block Title %}<title>User Details</title>{% endblock Title %}
{% block content  %}
<h5 class='text-center mt-2'>{{user}}</h5>
<h3 class="m-3">Personal Details</h3>
<a href = "{% url 'addpersnl' %}" class = "btn btn-success">Add Personal Details</a>
    <table class ="table table-hover bg-white mt-3">
    <thead>
        <tr class ="text-center">
            <th scope ="col" style ="width:2%">Name</th>
            <th scope ="col" style ="width:15%">Email</th>
            <th scope ="col" style ="width:8%">Phone Nor</th>
            <th scope ="col" style ="width:8%">City</th>
            <th scope ="col" style ="width:8%">State</th>
            <th scope ="col" style ="width:8%">Github</th>
            <th scope ="col" style ="width:8%">Linkdin</th>
            <th scope ="col" style ="width:15%">About</th>
        </tr>
    </thead>
    {% for i in pf %}
        <tr>
            <td>{{i.name}}
            <td>{{i.email}}</td>
            <td>{{i.phno}}</td>
            <td>{{i.city}}</td>
            <td>{{i.state}}</td>
            <td>{{i.github}}</td>
            <td>{{i.linkdin}}</td>
            <td>{{i.about}}</td>
            <td><a href="{% url 'editpersnl' %}" class="btn btn-dark btn-lg" >Edit</a></td>
        </tr>
    {% endfor %}
    </table>

<h3 class="m-4">Educational qualification</h3>
<a href = "{% url 'addeducation' %}" class = "btn btn-success">Add Education Details</a>
   <table class ="table table-hover bg-white mt-3">
    <thead>
        <tr class ="text-center">
            <th scope ="col" >SSLC</th>
            <th scope ="col">PUC</th>
            <th scope ="col">Degree</th>
            <th scope ="col">Percentage</th>
            <th scope ="col">City</th>
            <th scope ="col">State</th>
        </tr>
    </thead>
    {% for i in ed %}
        <tr class="text-center">
            <td>{{i.sslc}}</td>
            <td>{{i.puc}}</td>
            <td>{{i.degree}}</td>
            <td>{{i.percentage }}</td>
            <td>{{i.city }}</td>
            <td>{{i.state }}</td>
            <td><a href="{% url 'editeducation' i.id %}" class="btn btn-lg btn-dark">Edit</a></td>
        </tr>
    {% endfor %}
    </table>

<h3 class="m-3">Work Experience</h3>
<a href = "{% url 'addexperience' %}" class = "btn btn-success">Add Experience Details</a>

   <table class ="table table-hover bg-white mt-3">
    <thead>
        <tr class ="text-center">
            <th scope ="col">Job Role</th>
            <th scope ="col">Company Name</th>
            <th scope ="col">Projects</th>
            <th scope ="col">City</th>
            <th scope ="col">State</th>
        </tr>
    </thead>
    {% for i in ex %}
        <tr class="text-center">
            <td>{{i.jobrole}}</td>
            <td>{{i.companyname}}</td>
            <td>{{i.projects}}</td>
            <td>{{i.city}}</td>
            <td>{{i.state}}</td>
            <td><a href="{% url 'editexperience' i.id %}" class="btn btn-lg btn-dark">Edit</a></td>
        </tr>
    {% endfor %}
    </table>

<h3 class="m-3">Technical Skills </h3>
<a href = "{% url 'addskill' %}" class = "btn btn-success">Add Skill Details</a>

   <table class ="table table-hover bg-white mt-3">
    <thead>
        <tr>
            <th scope ="col">Skill</th>
        </tr>
    </thead>
    {% for i in sk %}
        <tr>
            <td>{{i.skill}}</td>
            <td class="text-right" style="padding-right:60px;"><a href="{% url 'editskill' i.id %}" class="btn btn-lg btn-dark">Edit</a></td>
        </tr>
    {% endfor %}
    </table>


{% endblock content %}